body {
  background-image: linear-gradient(to top, #b2b3b8 0%, #dadada 100%);
}
form {
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}

#current-location-button {
  margin-top: 7px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: #757575;
  font-size: unset;
}

h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  margin-bottom: 40px;
}
h4 {
  display: block;
  font-size: 50px;
}
#units {
  top: -20px;
  position: relative;
  font-size: 20px;
}

#main-icon {
  top: -13px;
  position: relative;
}

li {
  color: #757575;
  display: block;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  border: 1px solid #949494;
  padding: 20px;
  max-width: 630px;
  margin: auto;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}
.temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-align: middle;
}

.next-week {
  margin-top: 30px;

  color: #757575;
  text-align: center;
}
footer {
  display: block;
  text-align: center;
}

#units .active {
  color: #757575;
  cursor: default;
  font-weight: bolder;
}

#units .active:hover {
  text-decoration: none;
}
